{% if category %}
  {% set langexists_translation = categHasTranslation(article, lang, true) %}
{% else %}
  {% set langexists_translation = articleHasTranslation(article, lang, true) %}
{% endif %}
<div class="row" id="cmsActions">
    <div class="col-lg-12">
      <div class="widget-container fluid-height clearfix">
        <div class="heading">
          {# {% if langexists_translation is not empty %}<a class="btn btn-default" href="" target="_blank"><i class="icon-picture"></i> {% trans %}Wysiwyg mode{% endtrans %}</a>{% endif %} #}
          <div class="btn-group">
                {% if langexists_translation is not empty %}
                <a class="btn btn-default"><i class="icon-zoom-in"></i> {% trans %}Preview{% endtrans %}</a>
                {# <ul class="dropdown-menu">
                  <li>
                    <a href="" target="_blank"><i class="icon-edit"></i> {% trans %}Draft{% endtrans %}</a>
                  </li>
                  <li>
                    <a href="" target="_blank"><i class="icon-save"></i> {% trans %}Published{% endtrans %}</a>
                  </li>
                </ul> #}
                {% endif %}
              </div>
          {# <div class="btn-group">
              <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="icon-thumbs-up"></i> {% trans %}Share{% endtrans %}<span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#"><i class="icon-facebook"></i> Facebook</a>
                  </li>
                  <li>
                    <a href="#"><i class="icon-twitter"></i> Twitter</a>
                  </li>
                  <li>
                    <a href="#"><i class="icon-envelope"></i> Email</a>
                  </li>
                </ul>
            </div> #}
            <div class="btn-group pull-right">
              <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                <img src="{{ asset('bundles/majescore/images/flag-' ~ app.request.get('_locale') ~ '.png') }}" style="margin: 0 5px 3px"/> {% trans %}Languages{% endtrans %}<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" style="min-width: 50px">
                {% for lang in app.session.get('langs') %}
                {% if category %}
                {% set has_translation = categHasTranslation(article, lang.locale, true) %}
                {% else %}
                {% set has_translation = articleHasTranslation(article, lang.locale, true) %}
                {% endif %}
                <li>
                  {% if category %}
                    <a href="{{ path('_blog_category_edit', {'_locale' : lang.locale, 'blog' : app.request.get('blog'), 'id' : app.request.get('id') }) }}" {% if has_translation is empty %}class="duplicateTranslation"{% endif %}><img src="{{ asset('bundles/majescore/images/flag-' ~ lang.locale ~ '.png') }}"/> {{ lang.locale }}</a>
                  {% else %}
                    <a href="{{ path('_blog_article_edit', {'_locale' : lang.locale, 'blog' : app.request.get('blog'), 'id' : app.request.get('id') }) }}" {% if has_translation is empty %}class="duplicateTranslation"{% endif %}><img src="{{ asset('bundles/majescore/images/flag-' ~ lang.locale ~ '.png') }}"/> {{ lang.locale }}</a>
                  {% endif %}
                  
                </li>
                {% endfor %}
              </ul>
            </div>
      </div>
      </div>
    </div>
</div>

<div class="modal fade" id="duplicateTranslationModal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
            <h4 class="modal-title">{% trans %}Translation does not yet exist{% endtrans %}</h4>
          </div>

          <div class="modal-body">
            <p>{% trans %}Do you want to copy the default language or create a translation from scratch?{% endtrans %}</p>
          </div>

          <div class="modal-footer">
            <a href="#" class="btn btn-default-outline copy">{% trans %}Copy{% endtrans %}</a>
            <a href="#" class="btn btn-default-outline scratch">{% trans %}From scratch{% endtrans %}</a>
          </div>

      </div>
    </div>
</div>

