<div class="form-group">
    <label class="control-label col-lg-3">{{name|capitalize}}</label>
    <div class="row">
    <div class="col-lg-12" style="clear: both">
        <textarea class="form-control" rows="3" name="attributes_{{name}}" id="{{name}}" style="height: 300px;">{% if attribute.value %}{{attribute.value}}{% endif %}</textarea>
    </div>
    </div>
</div>

<script>
tinymce.init({
    selector: "textarea#{{name}}",
    plugins: [
        "advlist autolink lists link image charmap print preview anchor",
        "searchreplace visualblocks code fullscreen",
        "insertdatetime media table contextmenu paste mediapicker"
    ],
    relative_urls: false,
    toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",

    image_advtab: true ,
    
    external_filemanager_path:"{{ path('_media_picker', {'context':'tinymce'}) }}",
    filemanager_title:"Media picker" ,
    external_plugins: { "mediapicker" : "{{ asset('bundles/majesmedia/plugins/mediapicker/plugin.js') }}"}
 }); 
</script>