<div class="form-group">
    <label class="control-label col-lg-3">{{attribute.title}}</label>
    <div class="col-lg-9">
        <select class="form-control" name="attributes[{{attribute.block_attribute_ref}}][value]" id="{{attribute.block_attribute_ref}}" value="{% if attribute.value %}{{attribute.value.value}}{% endif %}" style="padding:0;border:none;">
          {% set routes = getRoutes() %}
          {% for route in routes %}
            <option value="{{ route.url }}" {% if (attribute.value) and (attribute.value.value == route.url) %}selected{% endif %}>{{route.title}}</option>
          {% endfor %}
        </select>
    </div>
</div>
<script>
  $('select#{{attribute.block_attribute_ref}}').select2();
</script>